* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    background-attachment: fixed;
}

.card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.card-container {
    background-image: linear-gradient(
            rgba(42, 42, 42, 0.803),
            rgba(41, 41, 41, 0.697)
        ),
        url("img about us/about us bg 02.jpg");
    background-attachment: fixed;
}

#card-container01 {
    background-image: linear-gradient(
            rgba(29, 29, 29, 0.745),
            rgba(29, 29, 29, 0.7)
        ),
        url("img about us/about us bg 01.jpg");
    background-attachment: fixed;
}

.card-container .card {
    background: rgba(0, 251, 255, 0.614);
    width: 20%;
    height: 25em;
    padding: 2em;
    border-radius: 20px;
    color: aliceblue;
    transition: 0.2s ease-in-out;
}

.card-container .card:hover {
    scale: 1.05;
}

.card:nth-child(1) {
    background-image: linear-gradient(
            rgba(11, 3, 44, 0.588),
            rgba(21, 17, 42, 0.534)
        ),
        url("img about us/#");
    background-repeat: no-repeat;
    background-size: cover;
}
.card:nth-child(2) {
    background-image: linear-gradient(
            rgba(11, 3, 44, 0.588),
            rgba(21, 17, 42, 0.534)
        ),
        url("img about us/#");
    background-repeat: no-repeat;
    background-size: cover;
}
.card:nth-child(3) {
    background-image: linear-gradient(
            rgba(11, 3, 44, 0.588),
            rgba(21, 17, 42, 0.534)
        ),
        url("img about us/#");
    background-repeat: no-repeat;
    background-size: cover;
}
.card img {
    width: 50%;
    border-radius: 20%;
}

.card-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease-in-out;
}
.card-img:hover {
    scale: 1.1;
}

/*.bg-video {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
}*/

.about-us-uni {
    background-image: linear-gradient(
            rgba(11, 3, 44, 0.588),
            rgba(21, 17, 42, 0.534)
        ),
        url("img about us/uni\ 01.webp");
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.about-us-uni h1 {
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 4em;
}
.about-us-uni p {
}
