* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}
body {
    background-image: linear-gradient(
            rgba(33, 31, 31, 0.859),
            rgba(16, 15, 15, 0.792)
        ),
        url(sec01/04.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

.card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

.card-container .card {
    background: white;
    width: 20%;
    height: 25em;
    padding: 2em;
    border-radius: 20px;
    color: aliceblue;
    transition: 0.2s ease-in-out;
}

.card-container .card:hover {
    scale: 1.05;
}

.card:nth-child(1) {
    background-image: linear-gradient(
            rgba(11, 3, 44, 0.588),
            rgba(21, 17, 42, 0.534)
        ),
        url("/sec01/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card:nth-child(2) {
    background-image: linear-gradient(
            rgba(11, 3, 44, 0.588),
            rgba(21, 17, 42, 0.534)
        ),
        url("/sec01/02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card:nth-child(3) {
    background-image: linear-gradient(
            rgba(11, 3, 44, 0.588),
            rgba(21, 17, 42, 0.534)
        ),
        url("/sec01/03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* media quary for tab */
@media only screen and (max-width: 950px) {
    .card-container .card h1 {
        font-size: 2em;
    }
    .card-container .card p {
        font-size: 1em;
    }
}
