* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}
#about {
    padding: 88px 0;
    color: blue;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
