@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    background-attachment: fixed;
}

.about-us-uni {
    background-image: linear-gradient(
            rgba(11, 3, 44, 0.79),
            rgba(21, 17, 42, 0.74)
        ),
        url("university/uni\ 01.webp");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: grid;
    place-items: center;
}

.about-us-uni .card {
    background-color: rgba(255, 255, 255, 0.477);
    padding: 2em;
    gap: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 2em;
}
.about-us-uni h1 {
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 3em;
}
.btn {
    transition: 0.5s ease-in-out;
}
.btn:hover {
    scale: 1.03;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
